@import '../../../../styles/colors.module.scss';

.ctaSection {
    background-color: $lightRed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 30px;
}

.imgCta {
    width: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imgLogoNav {
    width: 180px;
}

.navBtn {
    margin: 0px 5px !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    color: $lightGray !important;
    transition: .3s !important;

    &:hover {
        border-color: $lightRed !important;
        color: $white !important;
    }
}

@media (max-width: 455px) {
    .nav {
        justify-content: center;
    }

    .imgLogoNav {
        margin: 0px 10px;
    }

    .navBtn {
        margin: 16px 10px !important;
        border-color: $white !important;
        font-size: 14px !important;
    }

    .ctaSection {
        gap: 10px
    }
}

@media (max-width: 350px) {
    .ctaSection {
        text-align: center;
    }

    .imgCta {
        margin: 0px 8px;
    }
}