@import '../../../../styles/colors.module.scss';

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
}

.slideSectionBtn {
    font-size: 18px;
    background-color: transparent;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px 25px;
    border: 2px solid $white;
    border-radius: 6px;
    transition: .3s;

    &:hover {
        border-color: $lightRed;
        color: $lightGray;
    }
}

@media (max-width: 600px) {
    .slideSectionBtn {
        padding: 10px 15px;
    }
}

@media (max-width: 300px) {
    .slideSectionBtn {
        font-size: 14px;
    }
}

