@import '../../../../styles/colors.module.scss';

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
}

.slideSectionBtn {
    background-color: transparent !important;
    color: $white !important;
    padding: 10px 25px !important;
    border: 2px solid $white !important;
    transition: .3s !important;

    &:hover {
        border-color: $lightRed !important;
        color: $lightGray !important;
    }
}

@media (max-width: 600px) {
    .slideSectionBtn {
        padding: 10px 15px !important;
    }
}

@media (max-width: 300px) {
    .slideSectionBtn {
        font-size: 14px !important;
    }
}

